<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there! Thanks for your order!</h1>
    <p>
      Your order #<%= @order.id %>
      <% @order.line_items.each do |item| %>
        <li><%= item.product.name %></li>
      <% end %>
    </p>
    <p> Total: $<%= @order.total_cents / 100.0 %>
    </p>
    <p>Thanks for shopping with us and have a great day!</p>
  </body>
</html>